<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/formsub" method="post" enctype="multipart/form-data">
    <input type="text" placeholder="filename" name="desc" /><br><hr>
    <input type="file" name="meme" /><br><hr>
    <input type="submit" value="submit" />
  </form>
  <br>
  <br>
    <form action="/formsubarray" method="post" enctype="multipart/form-data">
      <input type="text" placeholder="filename" name="desc" /><br>
      <hr>
      <input type="file" name="meme" /><br>
      <hr>
      <input type="file" name="meme" /><br>
      <hr>
      <input type="submit" value="submit" />
    </form>
</body>

</html>